@media (min-width: 768px) {
  .card-hover:hover {
    width: 100%;
  }

  .card-hover:hover .card-hover-bgSize {
    background-size: contain !important;
  }

  .card-row:hover .card-hover:not(:hover) {
    display: none;
  }
}
