.hover-card {
    position: relative;
    overflow: hidden;
  }
  
  .extra-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333333c7;
    color: white;
    transition: top 0.3s ease-in-out;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .hover-card:hover .extra-content {
    top: 30%;
  }